/** ----------- LAYOUT ----------- **/


section {
  padding: 5rem;
}

.container-fluid {
  padding: 3rem 2rem;
}

.container {
  margin: auto;
  padding: 0;
  max-width: 1200px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}


