

.explore {
  width: 100% !important;
  border-radius: 7px;
  padding: 10px;
  height: auto;
  font-size: 1.25rem;
  text-transform: none!important;
}
.map{
  background: white;
  width: 100%;
  height: 400px;
}