.locations-img {
  width: 100%;
  max-width: 100% !important;
  border-radius: 8px 8px 8px 8px;

}

.btn-outline-primary {
  margin: 0 auto;
  display: block;
  background: transparent;
}

a {
  text-decoration: none !important;
}