@import "~bootstrap/scss/mixins";

$color-blue:#0071AA;
$color-darkblue: #1a2b57;
$color-lightblue: #3B87AE;
$color-red:#fa3840;
$color-gray:#8f8f8f;
$color-lightgray:#f8faff;
$color-black: #121821;
$color-yellow: #E8C36A;